body { 
	background:#444444; 
	color:#eee;
	font:16px/1.5 Georgia, sans-serif;
	margin:10px auto 0; 
	width:940px; 
}

h1 { text-align:center; }

ul, 
ol { list-style:none; margin:0; padding:0; }

h2 { background:#666; color:#eee; padding:0 .5em; margin:0; font-size:1em; text-align:left;}

#game-and-tools { overflow:hidden; text-align:center; width:100%; }

#game-container { float:left; position: relative; }

#tools,
#status { border:1px solid #999;}

#tools { 
	float:right; 
	width:120px;
	height:600px;
}

.tool {
	cursor:pointer;
	display:block;
	float:left;
	width:60px;
	height:60px;
	text-align:center;
	line-height:60px;
}

.pump { background:#996622; }
.dam { background:#883322; }
.channel { background:#999; }

.selected { border:1px solid #5599ee; width:58px; height:58px; }

#status {
	clear:both;
	height:150px;
	margin-top:1em;
	overflow:auto;
}

#status li { 
	border-bottom:1px solid #666;
	padding:0 .5em;
}